<div class="navbar">
    <img class="logo" src="assets/logo.jpg" routerLink="/home">
    <div class="right-navitems">
        <a class="user-icon" href="#"><i class="fa fa-user-circle"></i></a>
        <button class="mt-3 btn-success" mat-flat-button routerLink="/create-customer">Login</button>
    </div>
</div>

<div class="container">
    <div class="logo-container">
        <img class="home-logo" src="assets/logo.jpg">
    </div>
    <header class="showcase">
        <div class="mask showcase-inner">
            <h2>IMAN ISLAMIC ASSOCIATION</h2>
            <p>Welcome to IMAN ISLAMIC ASSOCIATION</p>
            <!-- <p>An Organization working towards becoming pioneer & primary choice for delivering good to all humanity by
                creating the platform to learn & understand Islam.</p> -->
            <a class="btn btn-lg" routerLink="/create-customer">Let's Get Started</a>
        </div>
    </header>
</div>