.sm-size {
  font-size: 18px;
}

.card.card-btn {
  cursor: pointer;
}

.card.card-btn:hover {
  box-shadow: inset 1px 1px 10px #49497a;
}

.card-content {
  display: inline-block;
  vertical-align: text-top;
}
