/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.logo {
  width: 3%;
  height: auto;
}
.navbar {
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  height: 80%;
}

.nav-items {
  float: right;
  display: block;
  color: #2a3f54;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 19px;
}

.customer-modal {
  width: 840px !important;
  margin-left: -115px !important;
}

.customer {
  overflow-y: scroll !important;
}

.customer::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}
